*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
main{
	width: 100%;
}
.contenido--menu{
 width: 100px;
 background-color: #161616;
}
.contenido--menu li{
	list-style: none;
  text-align: center;
	padding: 20px;
	color: white;

}
.contenido--menu li img{

}
.contenido--menu li h4{
 font-weight: 100;
 transform: translateY(14px);
}




.menu__imagen{
  width: 30px;
  height: 30px;
	color: #48464F;
}
