
.row{
  margin: 0;
  padding: 0;
}
#fondo_presentacion{
  background-image: url("../assets/fondoConoce.jpg");
}
#fondo__habilidad{
  background-image: url("../assets/gris.jpg");
}
#fondo__proyecto{
  background-image: url("../assets/gris.jpg");

}
#fondo__presentacion{
  background-image: url("../assets/presentacion.png");

}

.fondos{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;

}
.color__contacto{

  background: rgba(3,137,171,1);
}

.margen__h1{
  margin: 0;

}
.magen__what{
  height: 50px;
  width: 50px;
}
.imagenes__herramienta{
  height:200PX;
  width: 200PX;
}
.imagen__habilidades{
  height: 150px;
  width: 150px;
}
#boton{
  left: 15%;
  top: 35%;
}
.justificar__abajo{
  top: 300px;
}
.color__textoNombre{
  color: rgba(3,137,171,1);
}


/*realizar media @ para texto*/

@media screen  and (max-width: 519px) and (min-width: 200px){
  div#fondo_presentacion {
    height: 40vh;
  }
  h1{
    font-size: 25px;
    text-align: center;
    top: 200px;
    width: 100%;
  }
  h3{
    font-size: 15px;
    text-align: center;
    top: 200px;

  }

  p{
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 520px){
  div#fondo_presentacion {
    height: 80vh;
  }
  h1{
    text-align: center;
  }
}

@media screen and (min-width: 1024px){
  div#fondo1 {
    height: 80vh;
  }
  h1{
    text-align: center;


  }
  h3{
    text-align: center;
    top: 200px;
    width: 100%;
  }



}
