body{
	background-color: #FFFBD4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.menu__imagen{
  width: 30px;
  height: 30px;
	color: #48464F;
}
header{
	width: 100%;
	height: 60px;
	background-color:#2CB234;
	position: fixed;
	display: none;
	top: 0;
}

header label{
	font-size: 40px;
	color: white;
	position: absolute;
	top: 6px;
	left: 20px;
	padding: 5px;
	transition: all 300ms;
}

header label:hover{
	cursor: pointer;
	border-radius: 10px;
	background: rgba(0,0,0,0.2);
}

main{
	width: 100%;
}

.content-menu{
    position: fixed;
    width: 120px;
    height: 100vh;
    text-align: center;
    background-color:#116E2D;
}

.content-menu li{
	padding: 10px;
	cursor: pointer;
	transition: all 300ms;
	margin-top: 40px;
	list-style: none;

}

.content-menu li:hover{
    transform: translateY(6px);
    background-color:rgba(0,0,0,0.5);
}
a{
	text-decoration: none;

}
.content-menu span{
    font-size: 40px;
}

.content-menu h4{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 100;
    color: #FADD34;
    transform: translateX(-200px);
    transition: all 300ms;
}

.content-menu li:nth-child(1) span{
    color: #C37604;
}

.content-menu li:nth-child(2) span{
    color: #1bbfb2;
}

.content-menu li:nth-child(3) span{
    color: #bf1ba9;
}

.content-menu li:nth-child(4) span{
    color: #bf1b1b;
}


/*para efecto de transition del texto dentro del menu*/
.content-menu:hover .txt1{
    transform: translateX(0px);
    transition: all 100ms;
}

.content-menu:hover .txt2{
    transform: translateX(0px);
    transition: all 200ms;
}

.content-menu:hover .txt3{
    transform: translateX(0px);
    transition: all 300ms;
}

.content-menu:hover .txt4{
    transform: translateX(0px);
    transition: all 400ms;
}


/*para estilos de contenido*/
.contenido{
    margin-left: 110px;
    padding: 40px;
    background-color: #FFFBD4;
}

/*estilos para los textos*/
.texto__color--verdeClaro{
	color: #189D41;
}
.texto__color--verde{
	color: #116E2D;
}
.color--boton{
	background-color: #11876B;
	text-decoration: none;
	color: #FADD34;
	border-radius: 10px;
	padding: 10px 40px 10px 40px;
}

.margen__h1{
  margin: 0;
}
.margen--arriba{
  margin-top: 40px;
}

.imagenes__herramienta{
  height:200PX;
  width: 200PX;
}
.imagen__habilidades{
  height: 150px;
  width: 150px;
}
section{
  margin-top: 50px;
  margin-bottom: 50px;
}
#area__habilidad img{
  border-width:8px;
  border-style:ridge;
  border-radius: 20px;
  width: 100px;
  margin-top: 50px;
}
#boton{
  left: 15%;
  top: 35%;
}

.color__textoNombre{
  color: rgba(3,137,171,1);
}
h3, h1, p, h4{
  font-family: 'Josefin Sans', sans-serif;
}


.content-menu2{
    margin-top: 100px;
}


/* estilos para imagen con texto de cortina*/
div#imagen{
  width: 200px;
  height: 200px;
  background-image: url(assets/Captura1.png);
}
.fondos{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#info{
  width: 270px;
  height: 150px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity: 0;
  transition: opacity 0.2;
}
#fondo_presentacion:hover #info{
  opacity: 1;
}
#fondo_presentacion{
  background-image: url("../assets/Captura1.png");
  width: 270px;
  height: 150px;
  margin: 30px;

}
#fondo__boton{
  background-image: url("../assets/003-multimedia.png");
}









@media screen and (max-width:1000px){


    header{
        display: flex;/*para poder ser flexible a la hora de cambiar de posicion*/
        z-index: 999999;/*la importancia de la capa*/
    }

    .content-menu{
        z-index: 999999;
        position: fixed;
        width: 100%;
        height: auto;
        display: none;
        padding: 20px;
    }

    .content-item{

        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: center;
    }

    .content-item span{
        padding: 20px;
    }


    .content-menu h4{
        transform: translateX(0px);
    }


    .contenido{
        padding: 0px;
        margin-top: 60px;
        margin-left: 0;
    }


}
